!!!
%html
  %head
    %title New Student
    %link{ rel: "stylesheet", type: "text/css", href: "/stylesheets/screen.css" }
  %body
    %div#logo
      %img{ src: '/images/logo.png' }
    %div#list
      %a{ href: '/?fields=username' }
        Home
      %h1 Create Student Account
      %form{ action: '/new', method: 'post' }
        Username:
        %input{ type: 'text', name: 'username' }
        %br
        Password (must be exactly 4 digits):
        %input{ type: 'password', name: 'password' }
        %br
        %input{ type: 'submit' }